<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--6-col">
        <h1>Students</h1>
        <table id="students-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Language</th>
              <th class="mdl-data-table__cell--non-numeric">Skill Level</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of data">
              <td class="mdl-data-table__cell--non-numeric">{{person[0]}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{person[1]}}</td>
              <td>{{person[2]}}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <h1>Coaches</h1>
        <table id="coaches-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of data">
              <td class="mdl-data-table__cell--non-numeric">{{person[0]}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="mdl-cell mdl-cell--12-col button">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="generateList()">
        Confirm attendance
    </button>
</div>
