.mdl-cell--12-col {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

#coaches-table {
    width: 100%;
}

.selected {
    color: red;
}

.button {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-end;
    margin-top: 50px;
}
