<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--6-col">
        <h1>Students</h1>
        <table id="rsvp-table" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Pron</th>
              <th class="mdl-data-table__cell--non-numeric">Language</th>
              <th class="mdl-data-table__cell--non-numeric">Skill Level</th>
            </tr>
          </thead>
          <tbody>
            <tr data-name="Acrylic (Transparent)">
              <td class="mdl-data-table__cell--non-numeric">Name</td>
              <td class="mdl-data-table__cell--non-numeric">she/her</td>
              <td class="mdl-data-table__cell--non-numeric">Javascript</td>
              <td class="mdl-data-table__cell--non-numeric">2</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <h1>Coaches</h1>
        <table id="rsvp-table" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Pron</th>
              <th class="mdl-data-table__cell--non-numeric">Language</th>
              <th class="mdl-data-table__cell--non-numeric">Skill Level</th>
            </tr>
          </thead>
          <tbody>
            <tr data-name="Acrylic (Transparent)">
              <td class="mdl-data-table__cell--non-numeric">Name</td>
              <td class="mdl-data-table__cell--non-numeric">she/her</td>
              <td class="mdl-data-table__cell--non-numeric">Javascript</td>
              <td class="mdl-data-table__cell--non-numeric">2</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="generateList()">
    RSVP
</button>
